<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stores</title>
</head>
<div align="center">
<body>
    <h1>Stores</h1>
    <a th:href="@{'/new_store/' + ${areaId}}">Add New Area</a>
<br/><br/>
    <table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Store ID</th>
        <th>Store Name</th>
        <th>Store Manager</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="store : ${listOfStores}">
            <td th:text="${store.id}">Store ID</td>
            <td th:text="${store.store_name}">Store Name</td>
            <td th:text="${store.store_manager}">Store Manager</td>
        <td>
            <a th:href="@{'/work_tasks/' + ${store.id}}">Work Tasks</a>
            &nbsp;
            <a th:href="@{'/products/' + ${store.id}}">Products</a>
            &nbsp;
            <a th:href="@{'/edit_store/' + ${store.id}}">Edit</a>
            &nbsp;
            <a th:href="@{'/delete_store/' + ${store.id}}">Delete</a>
        </td>
        </tr>
    </tbody>
</table>
    </form>
</body>
</div>
</html>